<div class="mdl-layout mdl-js-layout welcome-page">
  {{welcome-header}}
  <main class="mdl-layout__content">
    <div class="page-content">
      <section class="support-companies">
        <img src="/assets/images/support/youtube.png" alt="YouTube" title="YouTube" />
        <img src="/assets/images/support/twitch.png" alt="Twitch" title="Twitch" />
        <img src="/assets/images/support/hitbox.png" alt="Hitbox" title="Hitbox" />
        <img src="/assets/images/support/dailymotion.png" alt="Dailymotion" title="Dailymotion" />
        <img src="/assets/images/support/huamao.png" alt="HuaMao" />
        <img src="/assets/images/support/douyu.png" alt="Douyu" />
        <img src="/assets/images/support/azubu.png" alt="Azubu" title="Azubu"/>
      </section>

      <section id="benefits">
        <h3>How it works<span class="title-dot"></span></h3>

        <div class="benefits-items">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
              <div class="benefits-item__image">
                <img src="/assets/images/benefits/link.png"/>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
              <div class="benefits-item__description">
                <h4>STAY CONNECTED</h4>
                <div class="benefits-item__text">One place - All Dota 2 streams in one place. Select best streams from twitch, hitbox, azubu and others on roomit.tv</div>
              </div>
            </div>
          </div>
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
              <div class="benefits-item__image">
                <img src="/assets/images/benefits/group.png"/>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
              <div class="benefits-item__description">
                <h4>FRIENDS ONLY</h4>
                <div class="benefits-item__text">Simple click - Just click on the stream you like and enjoy the best moments of the game, alone or with invited friends.</div>
              </div>
            </div>
          </div>
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
              <div class="benefits-item__image">
                <img src="/assets/images/benefits/spam.png"/>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
              <div class="benefits-item__description">
                <h4>NO SPAM IN ROOMS</h4>
                <div class="benefits-item__text">Your room - finally you can create personal room with especially created chat that will change the way you watch Dota 2.</div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="battle">
        <h3>Battle<span class="title-dot"></span></h3>

        <div class="battle-items">
          <div class="battle-item">
            <img src="/assets/images/battle/photo_1.jpg"/>
            <h4>ONE PLACE <span class="title-dot"></span></h4>
            <div class="battle-item__text">One place - All Dota 2 streams in one place. Select best streams from twitch, hitbox, azubu and others on roomit.tv</div>
          </div>

          <div class="battle-item">
            <img src="/assets/images/battle/photo_2.jpg"/>
            <h4>SET UP IN ONE CLICK <span class="title-dot"></span></h4>
            <div class="battle-item__text">Simple click - Just click on the stream you like and enjoy the best moments of the game, alone or with invited friends.</div>
          </div>

          <div class="battle-item">
            <img src="/assets/images/battle/photo_3.jpg"/>
            <h4>GET PLEASURED <span class="title-dot"></span></h4>
            <div class="battle-item__text">Your room - finally you can create personal room with especially created chat that will change the way you watch Dota 2.</div>
          </div>
        </div>

      </section>

      <section id="subscribe">
        <h3>Like the idea? Be first to know the exact moment we launch<span class="title-dot"></span></h3>

        {{welcome-email-subscribe someAction=(action (route-action 'subscribe'))}}
      </section>
    </div>
    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">
          <img src="/assets/images/roomit_logo_small_2.png" alt="">
          <div class="copyright">
            © Roomit 2016
          </div>
        </div>
      </div>
      <ul class="mdl-mini-footer__link-list">
        <li>
          {{#scroll-to href="header.mdl-layout__header"}}
            TO TOP
          {{/scroll-to}}
        </li>
        <li>
          {{#scroll-to href="#benefits"}}
            FEATURES
          {{/scroll-to}}
        </li>
      </ul>
      <div class="mdl-mini-footer__right-section">
        <a href="https://www.facebook.com/roomitTV/" target="_blank">{{social-button type="fb"}}</a>
        <a href="https://plus.google.com/+RoomitTv/posts" target="_blank">{{social-button type="gplus"}}</a>
        <a href="https://twitter.com/roomitTV" target="_blank">{{social-button type="twitter"}}</a>
        <a href="https://www.youtube.com/c/roomitTV" target="_blank">{{social-button type="youtube"}}</a>
      </div>
    </footer>
  </main>
  <div class="mdl-layout__obfuscator"></div>
</div>
