<div class="mdl-layout mdl-js-layout welcome-page">
  {{welcome-header}}
  <main class="mdl-layout__content">
    <div class="page-content">
      <section class="support-companies">
        <img src="/assets/images/support/youtube.png" alt="YouTube" title="YouTube" />
        <img src="/assets/images/support/twitch.png" alt="Twitch" title="Twitch" />
        <img src="/assets/images/support/hitbox.png" alt="Hitbox" title="Hitbox" />
        <img src="/assets/images/support/dailymotion.png" alt="Dailymotion" title="Dailymotion" />
        <img src="/assets/images/support/huamao.png" alt="HuaMao" />
        <img src="/assets/images/support/douyu.png" alt="Douyu" />
        <img src="/assets/images/support/azubu.png" alt="Azubu" title="Azubu"/>
      </section>

      {{#if model.benefits.length}}
        <section id="benefits">
          <h3>{{t "welcome.howItWorks.title"}}<span class="title-dot"></span></h3>

          <div class="benefits-items">

            {{#each model.benefits as |feature|}}
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                  <div class="benefits-item__image">
                    <img src="{{feature.image_url}}"/>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
                  <div class="benefits-item__description">
                    <h4>{{feature.title}}</h4>
                    <div class="benefits-item__text">{{feature.description}}</div>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        </section>
      {{/if}}

      {{#if model.battle.length}}
        <section id="battle">
          <h3>{{t "welcome.battle.title"}}<span class="title-dot"></span></h3>

          <div class="battle-items">
            {{#each model.battle as |feature|}}
              <div class="battle-item">
                <img src="{{feature.image_url}}"/>
                <h4>{{feature.title}} <span class="title-dot"></span></h4>
                <div class="battle-item__text">{{feature.description}}</div>
                <i class="material-icons material-icons--check_circle">check_circle</i>
                <i class="material-icons material-icons--radio_button_unchecked">radio_button_unchecked</i>
              </div>
            {{/each}}
          </div>

        </section>
      {{/if}}


      <section id="subscribe">
        <h3>{{t "welcome.likeTheIdea"}}<span class="title-dot"></span></h3>

        {{welcome-email-subscribe subscribe=(action (route-action 'subscribe'))}}
      </section>
    </div>
    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">
          <img src="/assets/images/roomit_logo_small_2.png" alt="">
          <div class="copyright">
            © Roomit 2016
          </div>
        </div>
      </div>
      <ul class="mdl-mini-footer__link-list">
        <li>
          {{#scroll-to href="header.mdl-layout__header"}}
            {{t "welcome.toTop"}}
          {{/scroll-to}}
        </li>
        <li>
          {{#scroll-to href="#benefits"}}
            {{t "welcome.features"}}
          {{/scroll-to}}
        </li>
      </ul>
      <div class="mdl-mini-footer__right-section">
        <a href="https://www.facebook.com/roomitTV/" target="_blank">{{social-button type="fb"}}</a>
        <a href="https://plus.google.com/+RoomitTv/posts" target="_blank">{{social-button type="gplus"}}</a>
        <a href="https://twitter.com/roomitTV" target="_blank">{{social-button type="twitter"}}</a>
        <a href="https://www.youtube.com/c/roomitTV" target="_blank">{{social-button type="youtube"}}</a>
      </div>
    </footer>
  </main>
  <div class="mdl-layout__obfuscator"></div>
</div>
